@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --grey: #CDD5D1;
    --green: #276221; 
}

* {
    box-sizing: border-box;
}

body { 
    background-color: #c3c3c3;
}

body {
    margin: 0;
}

/* navbar styling */
.nav {
    background-color: var(--green);
    color: white; 
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    height: 150px;
}

.site-title {
    font-size: 40px;
}

.logo {
    width: 400px;
    height: 160px;
    margin-right: 8px;
}

.nav ul {
    padding: 0; 
    margin: 0;
    display: flex; 
    gap: 1rem; 
    list-style: none;
    padding-top: 55px;
    font-size: 30px;
}

.nav a {
    color: inherit; 
    text-decoration: none;
    height: 100%; 
    display: flex; 
    align-items: center; 
    padding: .25rem; 
    font-family: 'Roboto', sans-serif;
}

.nav li.active {
    background-color: #555;
    border-radius: 10px;
}

.nav li:hover {
    background-color: #555;
    height: 45px;
    border-radius: 10px;
}

/* footer.css */

.footer {
    background-color: #555;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
  
.social-media-links {
    margin-top: 20px;
}
  
.social-media-links a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}
  

.social-media-links a svg {
    vertical-align: middle;
    display: inline-block;
}
  
.social-media-links a:hover {
    text-decoration: none;
}
  
/* About Me style */
.about-me {
    padding: 2rem 0;
    background-color: #CDD5D1;
    font-family: 'Roboto', sans-serif;
}

.about-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: left;
    width: 100%;
    padding-left: 30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
}

.about-me-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-me-text {
    flex: 1;
    text-align: center;
}

.about-me-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
}

.about-me-image img {
    max-width: 65%;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: bounce 2s infinite;
}

  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}

/* lets start hover  */
.lets-start-button {
    background-color: var(--green);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}
  
.lets-start-button:hover {
    background-color: #45a049; 
}

/* /portfolio styling */
.portfolio {
    padding: 2rem 0;
    background-color: #CDD5D1;
    font-family: 'Roboto', sans-serif;
}

.portfolio-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: left;
    width: 100%;
    padding-left: 30px;
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem;
    justify-content: center 
}

.project:first-child {
    grid-column: span 2;
    grid-row: span 2;
    width: 100%;
}



.project:last-child {
    grid-column: span 2;
    grid-row: span 2;
    width: 100%;
}

.project {
    background-color: none;
    border-radius: 50px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    height: 500px;
}
  
.project img {
    height: 100%;
    max-width: 100%;
    border-radius: 50px;
    background-size: cover;
}
  
.project h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
}
  
.project p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #555;
}
  
/* contact styling  */
.contact {
    padding: 2rem 0;
    background-color: #CDD5D1;
    font-family: 'Roboto', sans-serif;
}

.contact-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: left;
    width: 100%;
    padding-left: 30px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
  
.contact-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 30%;
}

label {
    font-family: 'Your Custom Font', sans-serif;
    font-size: 1.2rem;
    color: #333;
}
  
  
.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
  
.form-group {
    margin-bottom: 1rem;
}
  
label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
  
input,
textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
textarea {
    resize: vertical;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
button {
    background-color: var(--green);
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: green;
}

/* .error-message {
    color: gre;
    margin-top: 0.5rem;
} */
  
/* resume styles */
.resume {
    padding: 2rem 0;
    background-color: #CDD5D1;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;
}
  
.resume-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: left;
    width: 100%;
    padding-left: 30px;
}
  
.proficiencies-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    padding: 2rem;
    display: inline-block;
}
  
.proficiency-type {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #555;
}
  
.proficiency-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.proficiency-item {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: #777;
    line-height: 1.6;
}
  

  
  